.content > legend:first-child,
.content-table > legend:first-child,
.result-search > legend:first-child {
	margin-top: -15px;
}

.result-search > legend:first-child {
	margin-bottom: 0px;
}

.result-search {
	display: inline-table;
	padding: 0px;
	box-shadow: 0 0 10px #ccc;
	width: 100%;
}

.result-search::before {
	content: 'RESULTADO';
	display: block;
	background: #0096c3;
	color: #fff;
	padding: 5px 10px;
	margin: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.content > .result-search:first-child {
	margin-top: -10px;
}

.result-search table {
	margin: 0;
	/* border-radius: 3px; */
}

.result-search table td,
.content-table table td {
	vertical-align: middle;
	text-transform: uppercase;
}

.result-search table tfoot th,
.content-table table tfoot th {
	padding-left: .6rem;
	padding-right: .6rem;
}

.result-search table tbody tr:hover,
.content-table table tbody tr:hover {
	background: rgba(0, 0, 0, .1);
}

.result-search table tbody tr td:last-child,
.result-search table thead tr th:last-child,
.result-search table tfoot tr th:last-child,
.content-table table tbody tr td:last-child,
.content-table table thead tr th:last-child,
.content-table table tfoot tr th:last-child {
	border-right: 1px solid #DDD;
}
.result-search table tbody tr td:first-child,
.result-search table thead tr th:first-child,
.result-search table tfoot tr th:first-child,
.content-table table tbody tr td:first-child,
.content-table table thead tr th:first-child,
.content-table table tfoot tr th:first-child {
	border-left: 1px solid #DDD;
}

.result-search .footer {
	background: #0096c3;
	padding: 5px;
	color: #FFF;
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	font-size: 11px;
}

.result-search .result-filter{
	padding: 10px;
	border: 1px solid #DDD;
	border-bottom: none;
}

.result-filter2{
	padding-top: 20px !important;
}

.result-search .result-filter .row{
	margin-bottom: 0px;
}

.result-search .resultado-info{
	background: #E8E8E8;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.result-search .resultado-info i,
.result-search table td > i {
	font-size: 18px;
	padding: 6px;
}

.result-search input[type='checkbox'] {
	cursor: pointer;
}

.pagination{
	margin-left:20px !important;
}

.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	color: #337ab7;
	background: #fff;
	border: 1px solid #ddd;
}

.pagination > li.active > a,
.pagination > li.active > span {
	background: #0096c3;
	color: #fff;
	border: 1px solid #0096c3;
}

.table-with-actions thead tr th {
	border-bottom: solid 2px #008cb7;
	padding-bottom: 5px;
}

.table-with-actions tbody tr td {
	padding-top: 5px;
}

.table-with-actions thead tr th,
.table-with-actions tbody tr td:not(.buttons) {
	padding-left: .6rem;
	padding-right: .6rem;
}

.table-with-actions thead tr th a {
	display: block;
}

.table-with-actions thead tr th a,
.table-with-actions tbody tr td {
	color: #575d63;
}

.table-with-actions tbody tr td.buttons {
	vertical-align: middle;
	padding: 0px;
	width: 40px;
}

.table-with-actions tbody tr td.buttons .btn {
	margin: 5px 5px 5px 0;
	min-width: 34px;
}

.table-with-actions thead tr th i {
	opacity: .7;
}

.table-with-actions thead tr th:last-child {
	width: 200px;
	/* border-left: solid 1px #888; */
}

/*.buttons .btn {
	float: left;
	margin-right: .6rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
}*/

.buttons form {
	padding: 0;
	border: 0;
	background: transparent;
	float: left;
	margin-bottom: 0;
}

/*.buttons {
	padding-left: .6rem !important;
}*/

.shortcut{
	padding-left: 30px !important;
}

.menu-vertical .fa{
	font-size: 20px !important;
}

.card-secondary2 .card-header {
    background-color: #f7f7f7;
}

.active{
	color: black !important;
	width: 2px !important;
	height: 2px !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.inactive{
	color: grey !important;
	width: 2px !important;
	height: 2px !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
}
